.main_div{
    padding: 30px;
    padding-bottom: 50px;
    border: 1px solid grey;
    margin: 20px;
    border-radius: 5px;
    background: white;
    margin-top: 0px;
}
table{
    width: 100%;
    border: 2px solid darkgrey;
}
.table_div{
    overflow: auto;
}
.employee-details{
    background: linear-gradient(45deg, #4e9efd5e, #6482fc);
    padding-top: 18px;

}
.text_underline{
    text-decoration: underline;
}